In [17]:
num = 77

In [18]:
num

77

In [19]:
if num%2==0:
    print("The Number is Even")
else:
    print("The Number is Odd")

The Number is Odd

In [20]:
num = 13

In [21]:
if num%2==0:
    print("The Number is Even")
else:
    print("The Number is Odd")

The Number is Odd

In [15]:
#defining a function with "even_odd" and wrapping if conditions inside the function.
def even_odd(num):
    if num%2==0:
        print("The Number is Even")
    else:
        print("The Number is Odd")

In [16]:
even_odd(1)

The Number is Odd

In [17]:
even_odd(19)

The Number is Odd

In [18]:
even_odd(8)

The Number is Even

In [22]:
#print vs return
def hello_world():
    print("Hello all")

In [23]:
hello_world()

Hello all

In [30]:
#print vs return
def hello_you():
    print("Hello all")

In [31]:
val = hello_you()

Hello all

In [34]:
#print vs return
def hello_you():
    return "Hello all"

In [35]:
val = hello_you()

In [36]:
val

'Hello all'

In [37]:
def add_number (num1, num2):
    return num1+num2

In [39]:
val=add_number(15,30)

In [40]:
val

45

In [1]:
# Positional Arguement

def hello(name, age):
    print("My name is {} and my age is {}".format(name,age))

In [2]:
hello('John','25')

My name is John and my age is 25

In [3]:
# Keyword arguement, age with a value is a keyword arguement
def hellothere(name, age=20):
    print("My name is {} and my age is {}".format(name,age))

In [5]:
hellothere('John')

My name is John and my age is 20

In [8]:
#Print Positional arguements and keyword arguements

def hello(*args,**kwargs):
    print(args)
    print(kwargs)

In [9]:
hello('John' ,'Wick' , age = 58, dob=1964)

('John', 'Wick')
{'age': 58, 'dob': 1964}

In [10]:
lst = ['John' ,'Wick']
dict_args = {'age': 58, 'dob': 1964}

In [11]:
dict_args

{'age': 58, 'dob': 1964}

In [12]:
lst

['John', 'Wick']

In [13]:
lst, dict_args

(['John', 'Wick'], {'age': 58, 'dob': 1964})

In [14]:
lst
dict_args

{'age': 58, 'dob': 1964}

In [15]:
hello(lst,dict_args)

(['John', 'Wick'], {'age': 58, 'dob': 1964})
{}

In [16]:
# specify positional arguement with "*" and keyword arguements with "**"
hello(*lst,**dict_args)

('John', 'Wick')
{'age': 58, 'dob': 1964}

In [84]:
lst = [1,2,3,4,5,6,7,8,9,10]

In [87]:
def evenoddsum(lst):
    even_sum = 0
    odd_sum = 0
    for i in lst:
        if i%2==0:
            even_sum = even_sum + i
        else:
            odd_sum = odd_sum + i
    return even_sum, odd_sum

In [90]:
evenoddsum(lst)

(30, 25)

In [97]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [98]:
def evenodd (lst):
    evensum = 0
    oddsum = 0
    for i in lst:
        if i%2 == 0:
            evensum = evensum + i
        else:
            oddsum = oddsum + i
    return evensum, oddsum

In [100]:
evenodd(lst)

(30, 25)